body{
    background-image: radial-gradient(red, white);
}

#content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto;
    max-width: 960px;
    margin: 0 auto;
}

header{
    grid-column: span 3;;
}

main{
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

aside{
    width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: left;
}

#home{
    display: block;
}

#members{
    display:none;
}

#videos{
    display:none;
}

nav{
    grid-column: 1 / 2;
}

#btnh{
    background-color: blue;
}

#btnm{
    background-color: firebrick;
}

#btnv{
    background-color: grey;
}

input{
    margin: 10px;
}

footer{
    grid-column: span 3;
    background-color: crimson;
}