body{
    background-image: radial-gradient(red, white);
}

#content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto;
    max-width: 960px;
    margin: 0 auto;
}

header{
    grid-column: span 3;;
}

main{
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

aside{
    width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: left;
}

#home{
    display: block;
}

#members{
    display:none;
}

#videos{
    display:none;
}

#videos h2 {
    text-shadow: 2px 2px 5px orange;
}

#sandy {
    box-shadow: 10px 10px 5px black;
}

#horseman {
    box-shadow: 10px 10px 5px #cc5200;
}

#log-visit {
    display: none;
}

#visitors {
  display: none;
}

#nVisitor {
    background-color: #cc0066;
    font-size: larger;
    font-weight: bold;
    text-shadow: 2px 2px 5px white;
}

tr:hover {
  background-color: aqua;
}

nav{
    grid-column: 1 / 2;
}

#btnh{
    background-color: blue;
    font-size: larger;
    font-weight: bold;
    text-shadow: 2px 2px 5px white;
}

#btnm{
    background-color: firebrick;
    font-size: larger;
    font-weight: bold;
    text-shadow: 2px 2px 5px white;
}

#btnv{
    background-color: grey;
    font-size: larger;
    font-weight: bold;
    text-shadow: 2px 2px 5px white;
}

#btnlv {
    background-color: #2196F3;
    font-size: larger;
    font-weight: bold;
    text-shadow: 2px 2px 5px white;
}

input{
    margin: 10px;
}

footer{
    grid-column: span 3;
    background-color: crimson;
}
form {
    width: 400px;
    font: normal 22px/1.5 sans-serif;
    color: #fff;
    padding: 50px 0;
  }
  
  .errorMsg {
    color: #990000;
  }
  
  input.was-validated:invalid {
    border: 1px solid red;
  }
  
  input.was-validated:invalid ~ div {
    display: block;
  }
  
  input:valid ~ div {
    display: none;
  }
  
  input:invalid ~ div {
    display: none;
  }
  
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .flex {
    list-style-type: none;
    padding: 0;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .flex li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .flex li li input,
  .flex li textarea {
    padding: 15px;
    font: normal 16px/1.5 sans-serif;
  }
  
  .flex button {
    margin: auto;
    padding: 22px 46px;
    font: normal 16px/1.5 sans-serif;
    border: none;
    background: #D84315;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 4px;
  }
  
  .flex > li {
    margin-bottom: 20px;
  }
  
  .flex > li > label {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 140px;
            flex: 1 0 140px;
    max-width: 200px;
  }
  
  .flex > li + * {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 200px;
            flex: 1 0 200px;
  }
  
  .flex > input[type='radio'] ~ div.errorMsg,
  .flex > input[type='checkbox'] ~ div.errorMsg {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 350px;
            flex: 1 0 350px;
    text-align: right;
  }